.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.config-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.config-container label {
  margin-right: 0.5rem;
}

#videoCanvas {
  max-width: 100%;
  height: auto;
}
#videoPreview {
  width: 500px;
}